.last-section{
    background-color: var(--darkBlue);
    display: flex;
    justify-content: space-around;
    color: var(--white);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1em;
}
.last-section ul{
    list-style: none;
    padding: 0px;
}
.last-section .about{
    display: flex;
    justify-content: space-around;
}
.last-section ul li{
    padding: 8px;
}
.footer-logo{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 1em;
}
a:hover{
    color: var(--limeGreen);
}
@media screen and (max-width: 700px) {
.last-section{
    display: block;
    padding-left: 30%;
    padding-right: 30%;
    
}
.last-section .about{
    display: flex;
    flex-direction: column;

}
.last-section ul:last-child{
    margin-top: -18px;
}
}