.mid-section {
    background-color: var(--lightGrayishBlue);
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
}

.box-detail {
    justify-content: center;
}

.article {
    padding-left: 10%;
}

.third-section {
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    padding-right: 10%;
    padding-bottom: 5%;
}

.box-article {
    padding: 1em;
}

.box-article img {
    width: 100%;
    height: 40%;
}

@media screen and (max-width: 700px) {
    .mid-section {
        display: block;
    }

    .third-section {
        display: block;
    }
}