:root {
    --darkBlue: hsl(233, 26%, 24%);
    --limeGreen: hsl(136, 65%, 51%);
    --brightCyan: hsl(192, 70%, 51%);
    --grayishBlue: hsl(233, 8%, 62%);
    --lightGrayishBlue: hsl(220, 16%, 96%);
    --veryLightGray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    font-size: 18px;
    font-family: "Public Sans";
    background-color: var(--veryLightGray);
    color: var(--darkBlue)
}

body {
    margin: 0px;
}
p{
    color:var(--grayishBlue) ;
    font-size: small;
}
/* HEADER */
.header {
    background-color: var(--white);
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: .55em;
    margin-bottom: -.1em;
}

.header img {
    padding: 1em 0em 1.45em 0em;
}

.header .navbar {
    display: flex;
    justify-content: center;
}

.header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.header a {
    color: var(--darkBlue);
    text-decoration: none;
    font-weight: 300;
    padding: 1em;
    border-bottom: 1em solid;
    border-color: var(--white);
}

.header a:hover {
    color: var(--darkBlue);
    text-decoration: none;
    font-weight: 400;
    padding: 1em;
    border-bottom: solid;
    border-color: var(--limeGreen);
}

.hamburger {
    display: none;
}

.request-btn {
    border: none;
    color: var(--white);
    border-radius: 1.7em;
    width: 12em;
    height: 3.5em;
    background-image: linear-gradient(to right, var(--limeGreen), var(--brightCyan));
}

.navbar_mobile {
    display: none;

}

.request-btn:hover {
    opacity: 50%;
}


@media screen and (max-width:900px) {
    .header .nav-btn {
        display: none;
    }
}

@media screen and (max-width: 700px) {

    /* HEADER */
    .hamburger {
        display: flex;
        border: none;
        background-image: url("/images/icon-hamburger.svg");
        background-repeat: no-repeat;
        width: 2em;
        height: 2em;
        background-color: var(--white);
        align-self: center;
    }

    .header .request-btn {
        display: none;
    }

    .header a {
        display: none;
    }

    #mob {
        display: none;
    }

    .navbar_mobile {
        display: flex;
        justify-content: center;
        background-color: var(--white);
        width: 80%;
        margin-top: 1em;
        margin-left: 9%;
        margin-right: 10%;
        position: absolute;
        z-index: 2;
        border-radius: .5rem;
    }

    .navbar_mobile ul {
        list-style: none;
        margin: 0;
        padding: 0;

    }

    .navbar_mobile a {
        color: var(--GrayishBlue);
        text-decoration: none;
        font-weight: 400;
    }

    .navbar_mobile li {
        margin: 2em;
    }
}