.top-section {
    display: flex;
    flex-direction: row-reverse;
    height: 50em;


}

.top-text {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10%;
}
.top-text h1{
    font-weight: 300;
    font-size: 2em;
}


.top-images {
    background-image: url('/images/bg-intro-desktop.svg');
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: 0rem -14rem;
    width: 60%;
    min-height: 50em;

}

.top-images::before {
    content: '';
    position: absolute;
    background-image: url('/images/image-mockups.png');
    background-position: 13rem -7rem;
    background-repeat: no-repeat;
    background-size: 90%;
    width: 60%;
    min-height: 120%;


}

.top-section-two{
    background-color: var(--lightGrayishBlue);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1em;
}
.top-section-two h2,.top-section-two p{
    width: 50%;

}



@media screen and (max-width: 700px) {
    .top-section {
        display: block;
    }

    .top-images {
        background-image: url('/images/bg-intro-mobile.svg');
        background-position: center center;
        background-size: cover;
        min-height: 20em;
        width: 100%;
        margin: 0px;

    }
    .top-text {
        width: 90%;
    }

    .top-section-two h2,.top-section-two p{
        width: 90%;
    }
    
    .top-text {
        display: block;
    }
    .top-images::before {
        content: '';
        position: absolute;
        background-size: cover;
        background-position: center bottom;
        width: 100%;
        min-height: 20em;

    }
}